body {
    font-family: Arial;
    text-align: center;
}

#contenedor-productos {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
}

img {
    width: 100%;
}